/* Copyright 2018-2023 Epic Systems Corporation */
#proxies.proxyList.cardlist {
  padding: 0;
  width: 100%;
}

.proxyList.cardlist li.card {
  text-align: center;
}
.proxyList.cardlist li.card a {
  display: block;
}
.proxyList.cardlist li.card .proxyicon {
  height: 90px;
  margin: 0 auto 0.25rem;
  width: 90px;
  background-size: cover;
  border: 1px solid #cccccc;
  border-radius: 100%;
  display: block;
  overflow: hidden;
}
.proxyList.cardlist li.card.other .proxyicon {
  background-color: #dbdbdb;
}

.proxyicon {
  background: transparent url("../images/ProxySilhouette.png") no-repeat scroll center center;
}
